<!DOCTYPE html>
<html lang="en">
<head>
  <title>List A Puppy</title>
</head>
<body>
  <h1>Enter the information below to List A Puppy</h1>

  <form method="post" action="/new">
    <p>Puppy name: <input type="text" name="name"></p>
    <p>Puppy breed: <input type="text" name="breed"></p>
    <p>Puppy age: <input type="text" name="age"></p>
    <input type="submit" value="submit">
  </form>
</body>
