<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Puppy Available</title>
</head>
<body>
  <h1>New Puppy Available</h1>
  <% Puppy.new(@puppy_name, @puppy_breed, @puppy_age) %>
  <p>Puppy Name: </p>
  <p>Puppy Breed: </p>
  <p>Puppy Age: </p>
</body>